#knyga{
  display: flex;
}
#rytas{
}
#vakaras{
}
.puslapis{
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
.laikas{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.citata{
  width: 70%;
  text-align: center;
}
.turinys{
  width: 90%;
  text-align: center;
}
